body{
    background-image: url(assets/Pastel.jfif);
    background-repeat: repeat;
    background-position: cover;
    background-size:cover ;
}

.CentrarEsteTexto{
    text-align: center;
    h2, p , ul{
        margin-left: 60px;
    }
    h2{
        font-size: 50px;
    }   
    p, ul{
        font-size: 30px;
    }
}

.Niñez{
    text-align: center;
    h2, p , ul{
        margin-left: 60px;
    }
}